apiVersion: v2
name: runwhen-local
description: The RunWhen Local Helm Chart - Private runners powering Agentic AI
type: application
version: 0.5.0
appVersion: "0.10.45"
icon: https://storage.googleapis.com/runwhen-nonprod-shared-images/icons/runwhen_icon.png
dependencies:
  - name: opentelemetry-collector
    version: "0.129.0"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
    condition: runner.enabled
maintainers:
- email: shea.stewart@runwhen.com
  name: stewartshea
  url: www.runwhen.com
