{{- if .Values.runner.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "runwhen-local.runnerFullname" . }}-metrics
  labels:
    app: runner
    app.kubernetes.io/component: runner-metrics
spec:
  type: ClusterIP
  ports:
    - name: metrics
      protocol: TCP
      port: 9090
      targetPort: 9090
  selector:
    app: runner
{{- end }} 