{{- if .Values.runner.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "runwhen-local.runnerFullname" . }}-relay
  labels:
    app: runner
    app.kubernetes.io/component: runner-relay
spec:
  type: ClusterIP
  ports:
    - name: relay
      protocol: TCP
      port: 8000
      targetPort: 8000
  selector:
    app: runner
{{- end }} 