{{- if .Values.runner.enabled -}}
{{- if and .Values.runner.configMap .Values.runner.configMap.create -}}
{{- $_ := .Values.runner.configMap.apiVersion | required ".Values.runner.configMap.apiVersion must be set !" -}}
{{- $_ := .Values.runner.configMap.kind | required ".Values.runner.configMap.kind must be set !" -}}
{{- $_ := .Values.runner.configMap.name | required ".Values.runner.configMap.name must be set !" -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.runner.configMap.name }}
  labels:
    app: runner
data:
  config.yaml: |
    apiVersion: {{ .Values.runner.configMap.apiVersion }}
    kind: {{ .Values.runner.configMap.kind }}
    {{- if .Values.runner.configMap.raw }}
    {{- toYaml .Values.runner.configMap.raw | nindent 4 }}
    {{- else }}
    global:
      {{- with .Values.runner.log }}
      log:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      controlAddr: {{ .Values.runner.controlAddr }}
      metricsAddr: {{ .Values.runner.metrics.url }}
      proxy:
        enabled: {{ .Values.proxy.enabled }}
        httpProxy: "{{ .Values.proxy.httpProxy }}"
        httpsProxy: "{{ .Values.proxy.httpsProxy }}"
        noProxy:  "{{ .Values.proxy.noProxy }}"
    environment:
      {{- with .Values.runner.runEnvironment.blockedSecrets }}
      blockedSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.runner.runEnvironment.secretsProvided }}
      secretsProvided:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.runner.runEnvironment.secretProviders }}
      secretProviders:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      imagePullSecret: "{{ .Values.runner.runEnvironment.image.pullSecret }}"
      imagePullPolicy: "{{ .Values.runner.runEnvironment.image.pullPolicy }}"
      imageRegistry: "{{ (.Values.runner.runEnvironment.image.registry | default .Values.registryOverride) }}"
      imageRepository: "{{ .Values.runner.runEnvironment.image.repository }}"
      kubernetes:
        proxy:
          enabled: {{ or .Values.runner.runEnvironment.proxy.enabled .Values.proxy.enabled }}
          httpProxy: "{{ or .Values.runner.runEnvironment.proxy.httpProxy .Values.proxy.httpProxy }}"
          httpsProxy: "{{ or .Values.runner.runEnvironment.proxy.httpsProxy .Values.proxy.httpsProxy }}"
          noProxy: "{{ or .Values.runner.runEnvironment.proxy.noProxy .Values.proxy.noProxy }}"
          proxyCA: "{{ or .Values.runner.runEnvironment.proxy.proxyCA .Values.proxy.proxyCA }}"
        {{- if or .Values.proxy.enabled .Values.runner.runEnvironment.proxy.enabled }}
        {{- with or .Values.proxyCA .Values.runner.runEnvironment.proxy.proxyCA }}
        proxyCA:
          {{- if .secretName }}
          secret:
            name: {{ .secretName }}
          {{- else if .configMapName }}
          configMap:
            name: {{.configMapName }}
          {{- end }}
            key: {{ .key | default "ca.crt" }}
        {{- end }}
        {{- end }}
        deployment:
          {{- with .Values.runner.runEnvironment.deployment.serviceAccount }}
          serviceAccount: {{ . }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.deployment.annotations }}
          annotations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          podAnnotations: 
            prometheus.io/port: "9090"
            prometheus.io/scrape: "true"
          {{- with .Values.runner.runEnvironment.deployment.podAnnotations }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.deployment.affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.deployment.nodeName }}
          nodeName: {{ . }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.deployment.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.deployment.tolerations }}
          # Additional tolerations for this deployment
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.extraEnv }}
          envVars:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
          {{- if eq .Values.platformType "EKS_Fargate" }}
            {{- toYaml .Values.runner.runEnvironment.deployment.resources.EKS_Fargate | nindent 12 }}
          {{- else }}
            {{- toYaml .Values.runner.runEnvironment.deployment.resources.default | nindent 12 }}
          {{- end }}

          # ------------------------
          # Container-level securityContext (Deployment)
          # If runEnvironment.containerSecurityContext is set, use it;
          # else if global .Values.containerSecurityContext is set, use that;
          # else fall back to your default snippet.
          # ------------------------
          {{- if .Values.runner.runEnvironment.containerSecurityContext }}
          securityContext:
            {{- toYaml .Values.runner.runEnvironment.containerSecurityContext | nindent 12 }}
          {{- else if .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- else }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - all
            readOnlyRootFilesystem: true
            seccompProfile:
              type: "RuntimeDefault"
          {{- end }}

          # ------------------------
          # Pod-level securityContext (Deployment)
          # If runEnvironment.securityContext is set, use it;
          # else if global .Values.podSecurityContext is set, use that.
          # ------------------------
          {{- if .Values.runner.runEnvironment.securityContext }}
          podSecurityContext:
            {{- toYaml .Values.runner.runEnvironment.securityContext | nindent 12 }}
          {{- else if .Values.podSecurityContext }}
          podSecurityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          {{- end }}

          {{- if or (eq .Values.platformArch "arm64") (not (empty .Values.tolerations)) (not (empty .Values.runner.runEnvironment.deployment.tolerations)) }}
          tolerations:
          {{- if eq .Values.platformArch "arm64" }}
          - key: "kubernetes.io/arch"
            operator: "Equal"
            value: "arm64"
            effect: "NoSchedule"
          {{- end }}
          {{- with .Values.tolerations }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.deployment.tolerations }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- end }}

          {{- with .Values.runner.runEnvironment.volumes }}
          volumes:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}

        pod:
          runAsJob: {{ .Values.runner.runEnvironment.pod.runAsJob }}
          {{- with .Values.runner.runEnvironment.pod.serviceAccount }}
          serviceAccount: {{ . }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.pod.annotations }}
          annotations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.pod.affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.pod.nodeName }}
          nodeName: {{ . }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.pod.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.pod.tolerations }}
          # Additional tolerations for the pod
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.extraEnv }}
          envVars:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
          {{- if eq .Values.platformType "EKS_Fargate" }}
            {{- toYaml .Values.runner.runEnvironment.pod.resources.EKS_Fargate | nindent 12 }}
          {{- else }}
            {{- toYaml .Values.runner.runEnvironment.pod.resources.default | nindent 12 }}
          {{- end }}

          # ------------------------
          # Container-level securityContext (Pod)
          # If runEnvironment.containerSecurityContext is set, use it;
          # else if global .Values.containerSecurityContext is set, use that;
          # else fall back to your default snippet.
          # ------------------------
          {{- if .Values.runner.runEnvironment.containerSecurityContext }}
          securityContext:
            {{- toYaml .Values.runner.runEnvironment.containerSecurityContext | nindent 12 }}
          {{- else if .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- else }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - all
            readOnlyRootFilesystem: true
            seccompProfile:
              type: "RuntimeDefault"
          {{- end }}

          # ------------------------
          # Pod-level securityContext (Pod)
          # If runEnvironment.securityContext is set, use it;
          # else if global .Values.podSecurityContext is set, use that.
          # ------------------------
          {{- if .Values.runner.runEnvironment.securityContext }}
          podSecurityContext:
            {{- toYaml .Values.runner.runEnvironment.securityContext | nindent 12 }}
          {{- else if .Values.podSecurityContext }}
          podSecurityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          {{- end }}

          {{- if or (eq .Values.platformArch "arm64") (not (empty .Values.tolerations)) (not (empty .Values.runner.runEnvironment.pod.tolerations)) }}
          tolerations:
          {{- if eq .Values.platformArch "arm64" }}
          - key: "kubernetes.io/arch"
            operator: "Equal"
            value: "arm64"
            effect: "NoSchedule"
          {{- end }}
          {{- with .Values.tolerations }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.pod.tolerations }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- end }}

          {{- with .Values.runner.runEnvironment.volumes }}
          volumes:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.runner.runEnvironment.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}

      {{- with .Values.runner.codeCollections }}
      codeCollections:
        {{- range $index, $collection := . }}
        - repoURL: {{ $collection.repoURL }}
          {{- if $collection.tag }}
          tag: {{ $collection.tag }}
          {{- end }}
          {{- if $collection.branch }}
          branch: {{ $collection.branch }}
          {{- end }}
          {{- if $collection.ref }}
          ref: {{ $collection.ref }}
          {{- end }}
          {{- if $collection.workerReplicas }}
          workerReplicas: {{ $collection.workerReplicas }}
          {{- end }}
          {{- if $collection.name }}
          name: {{ $collection.name }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
{{- end -}}
{{- end -}}
